.mp-middlepart {
    height: auto;
}

/*side navigation*/
.mp-navigation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 300px;
    height: 100vh;
    position: sticky;
    float: left;
    top: 10px;


}

*,
*:after,
*:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "sans-serif";
}


/*forum*/
.forum-middlepart {
    height: auto;
}

/*side navigation*/
.forum-navigation {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 300px;
    height: auto;
    position: sticky;
    float: left;
    top: 30px;
    margin-top: 30px;

}

.forum-nav-el {
    font-family: 'Amatic SC', cursive;
    color: #353535;
    text-decoration: none;
    font-size: 2em;
    margin: 10px auto;


}

/*searchbar*/
.forum-searchbar {
    width: 250px;
    margin: 0 3vw 10px 3vw;
    display: flex;
    flex-direction: row-reverse;

}

.forum-search-type {
    width: 250px;
    height: 50px;
    margin: 0;
    background-color: #f4f4f4;
    border: none;
    border-radius: 10px;
    font-family: 'Amatic SC', cursive;
    color: #353535;
    font-size: 1.5em;
    padding: 10px;
}

.forum-search-btn {
    width: 7vw;
    height: 50px;
    margin: 0;
    border: none;
    background: #228E8E;
    border-radius: 10px;
    font-family: 'Amatic SC',
    cursive;
    color: #f4f4f4;
    font-size: 2em;
    padding: 5px;
    position: absolute;
    }

/*forum posts*/

.forum-content {
    display: flex;
    flex-direction: column;

}

.forum-post {
    border: 1px solid lightgray;
    border-radius: 1vw;
    margin: 30px auto;
    padding: 20px;
    max-width: 60vw;
    display: flex;
    flex-direction: row;
    background-color: #f4f4f4;


}

.forum-question {
    font-family: 'Roboto', sans-serif;
    color: #353535;
    font-weight: 100;
    margin: 20px 0 20px 0;
    line-height: 25px;
}

.forum-answers {
    font-family: 'Amatic SC', cursive;
    color: #353535;
    font-size: 20px;
    align-self: flex-start;
    border: none;
    background: #f4f4f4;

}

.forum-answers:hover {
    color:#22BEBE;
}



.forum-img {
    max-width: 30%;
    float: right;
    margin: 2vw 0;
}

.forum-img-container {
    display: flex;
    flex-direction: row;

}

.profile_image {
    width: 5vw;

}

.profile_name {
    font-family: 'Amatic SC', sans-serif;
    font-size: 1.5vw;
    color: #353535;
    font-weight: 200;
}

.profile_container {
    margin: 2vw 2vw 1vw 1vw;
    width: 10vw;
    text-align: center;
}

.answers_container {
    display: flex;
    flex-direction: column;
}

.post_box {
    display: flex;
    flex-direction: row;
}

/*answer section*/

#more {
    display: none;
    padding: 2vw 0;
    font-family: "Roboto", sans-serif;
    font-weight: 100;
}

#more1 {
    display: none;
    padding: 2vw 0;
    font-family: "Roboto", sans-serif;
    font-weight: 100;
}

#more2 {
    display: none;
    padding: 2vw 0;
    font-family: "Roboto", sans-serif;
    font-weight: 100;
}

.answer {
    padding: 1vw 0 0;
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    display: flex;
    align-items: center;
}

.answer_profile {
    width: 4vw;
    padding: 0 1vw 0 0;
}

.post_container {
    margin: 0 2vw 0 0;
}

.addanswer_container {
    padding: 1vw 0 0;
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    display: flex;
    align-items: center;
}

.add_answer {
    width: 100%;
    height: 3vw;
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    padding: 1vw 0.5vw;
    border-radius: 0.5vw;
    color: #353535;
}

